/********************* CSS PASOS ****************/
/* #region STEP */
.step1 {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.step1 .container {
	max-width: 840px;
	flex-grow: 1;
}

.step1 .payments svg {
	max-width: 70%;
	max-height: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
}

@media (max-width: 767.98px) {
	.step1 .payments svg {
		margin-bottom: 10px;
		margin-top: 0px;
	}
}

.step1 .footer .logo svg {
	max-width: 80%;
	max-height: 40px;
}

@media (max-width: 767.98px) {
	.step1 .container {
		margin: 0px;
		padding: 0px;
		max-width: 100%;
	}
	.step1 .container .box {
		border-radius: 0;
		border: none;
		width: 100%;
	}
}


.rcc-input {
	text-align: center;
}
.rcc-input .content {
	width: 100%;
}
.rcc-input .content .control-group.control-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rcc-input .content .control-group .input-control {
	border: 2px solid #cccccc;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 0.5rem;
	transition: all 200ms ease-out;
	/*font-size: 14px;*/
	outline: none;
	width: 100%;
	color: #4d4d4f;
	padding: 10PX;
	font-family: Verdana; 
	color: #aaa;
}
.rcc-input .content .control-group .input-control:active, .rcc-input .content .control-group .input-control:focus {
	border: 2px solid #2980b9; /*#30b033;*/
}
@media (max-width: 767.98px) {
	.rcc-input .content .control-group .input-control {
		font-size: 16px;
   }
}
.rcc-input .content .control-group .icon {
	height: 0px;
	position: relative;
	float: right;
	pointer-events: none;
	color: #eeeeee;
	transition: all 200ms ease-out;
	top: 50%; 
	margin-top: 0px;
	right: 15px;
}
.rcc-input .content .control-group .icon.success {
	color: #2980b9; 
}
.rcc-input .content .control-group .icon.error {
	color: #C01A1A; 
}
.rcc-input .content .control-group .icon.show {
	opacity: 1;
}
.rcc-input .content .control-group .icon.hide {
	opacity: 0;
}
.rcc-input .content .error-message {
	width: 100%;
	height: auto;
	color: #C01A1A; 
	text-align: left;
	margin-top: 4px;
	transition: all 200ms ease-out;
}
.rcc-input .content .error-message.has-error {
	max-height: 100px;
	opacity: 1;
}
.rcc-input .content .error-message.no-error {
	max-height: 0px;
	opacity: 0;
}
.rcc-input .input {
	position: relative;
}
.rcc-input.has-error input {
	border: 2px solid #C01A1A; /*#e67198;*/
	color: #C01A1A; /*#e67198;*/
}


.rcc-button {
	width: 100%;
	outline: 0;
	color: #ffffff;
	background-color: #2980b9; /*#30b033;*/
	border: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rcc-button div {
	transform: translateZ(0);
	right: 15px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	width: 25px;
	height: 25px;
}
.rcc-button div .spinner {
	stroke: rgba(255, 255, 255, 0.7);
	animation: rotation 1.4s linear infinite;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
   }
	100% {
		transform: rotate(360deg);
   }
}
.rcc-button div .circle {
	stroke-dasharray: 182;
	stroke-dashoffset: 0;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-animation: turn 1.4s ease-in-out infinite;
	animation: turn 1.4s ease-in-out infinite;
}
@keyframes turn {
	0% {
		stroke-dasharray: 182;
		stroke-dashoffset: 182;
   }
	50% {
		stroke-dasharray: 182;
		stroke-dashoffset: 46.75;
   }
	100% {
		stroke-dasharray: 182;
		stroke-dashoffset: 178;
		transform: rotate(720deg);
   }
}
.rcc-button.link {
	color: #2980b9 /*#30b033;*/ !important;
}
.rcc-button.link svg {
	fill: #2980b9; /*#30b033;*/
}
.rcc-button.outline {
	border: 2px solid #2980b9; /*#30b033;*/
	border-radius: 9999px;
	padding: 6px 15px;
	padding-bottom: 8px;
	color: #2980b9; /*#30b033;*/
	background-color: #ffffff;
}
.rcc-button.outline svg {
	fill: #2980b9; /*#30b033;*/
}
.rcc-button.outline .spinner {
	stroke: #2980b9; /*#30b033;*/
}
.rcc-button.clean {
	padding: 0px;
	background-color: transparent;
	color: #4c4c4c;
}
.rcc-button.clean svg {
	fill: #4c4c4c;
}
.rcc-button.clean:active, .rcc-button.clean:hover {
	background-color: transparent;
	color:  #2980b9; /*#30b033;*/
}
.rcc-button.clean:active svg, .rcc-button.clean:hover svg {
	fill: #2980b9; /*#30b033;*/
}
.rcc-button:focus {
	outline: 0;
}
.rcc-button:active {
	background-color: #1a601c;
	color: #ffffff;
}
.rcc-button:active svg {
	fill: #ffffff;
}
.rcc-button:hover {
	background-color: #F97F51; /*#45b847;*/
	color: #ffffff;
}
.rcc-button:hover svg {
	fill: #ffffff;
}
.rcc-button.is-disabled {
	cursor: default;
	background-color: #4d4d4f;
	color: #f4f4f4;
}
.rcc-button.is-disabled svg {
	fill: #f4f4f4;
}
.rcc-button.is-loading {
	cursor: default;
	background-color: #2980b9; /*#30b033;*/
	color: #ffffff;
}



.rcc-flow-manager-container {
	opacity: 0;
	height: 0px;
}
.rcc-flow-manager .is-hidden {
	animation: fadeOut 175ms ease-in-out;
	animation-fill-mode: forwards;
}
.rcc-flow-manager .is-shown {
	animation-delay: 200ms;
	animation: fadeIn 175ms ease-in-out;
	animation-fill-mode: forwards;
	opacity: 1;
	height: auto;
	display: block;
}


.confirm-view .title {
	margin: 0px 0px 20px 0px;
}

.confirm-view .vehicle-data {
	position: relative;
	line-height: 1.2;
}

.confirm-view .vehicle-data>div {
	display: flex !important;
	flex-direction: row;
	justify-content: center !important;
	padding: 15px;
	margin-top: 10px;
	border: 1px solid #2980b9; /*#30b033;*/
	border-radius: 0.5rem;
	color: #2980b9; /*#30b033;*/
	width: 100%;
}

.confirm-view .vehicle-data .brand {
	display: flex;
	position: absolute;
	top: -10px;
	background: white;
	padding: 0 0.5rem;
	font-size: 1.25rem;
}

.confirm-view .vehicle-data .model {
	font-size: 1.75rem;
}

.confirm-view .vehicle-data span.edit {
	position: absolute;
	right: 10px;
	align-self: center !important;
	font-size: 1.75rem;
}

.confirm-view .person-data {
	margin-top: 2rem;
	font-size: 1.2rem;
}

.confirm-view .privacy-switch {
	display: flex;
	justify-content: center;
	align-items: center;
}

.confirm-view .privacy-switch .rcc-control {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.confirm-view .text-mediun {
	width: 80%;
	letter-spacing: -0.5px;
	font-size: 12px;
}

.rcc-svg {
    width: 30%; 
}

.rcc-birthdate .rcc-select {
	margin-right: 8px; }
  
.rcc-birthdate [class^="col-"]:last-child {
	margin-right: 0px; }

.rcc-progressbar {
    width: 100%;
}

.rcc-progressbar div {
    background-color: #2980b9; /*#30b033;*/
    height: 100%;
}

.rcc-progress {
    color: #999999;
    border-bottom: 1px solid #eeeeee;
}

.rcc-progress .row {
    margin: 0px;
    padding: 0px;
}

.rcc-progress .row > div {
    line-height: 1.2;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
	justify-content: center;
	cursor: pointer;
}

.rcc-progress .row .big {
    margin-right: 6px;
}

.rcc-progress .row .median {
    line-height: 1;
}

.select-group::after {
	content: "";
	display: inline-block;
	border-top: 10px solid #777;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	top: calc(50% -5px);
	right: .5rem;
	z-index: -1;
} 

.select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 0.5rem;
    border: 2px solid #ccc;
	color: #aaa;
	padding: 10px;
    cursor: default;
    /*font-size: 14px;*/
    border-spacing: 0;
    border-collapse: separate;
    height: 45px;
    outline: none;
    overflow: hidden;
    position: relative;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.select-control:focus{
	border: 2px solid #2980b9; /*#30b033;*/
}

/* #endregion */


/* #region CONTAINER */
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width: 576px) {
	.container {
		max-width: 540px
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px
	}
}

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}
/* #endregion */

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.no-gutters {
	margin-right: 0;
	margin-left: 0
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
	padding-right: 0;
	padding-left: 0
}

/* #region COL */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%
}

.col-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none
}

.col-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.33333%;
	flex: 0 0 8.33333%;
	max-width: 8.33333%
}

.col-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.66667%;
	flex: 0 0 16.66667%;
	max-width: 16.66667%
}

.col-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}

.col-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33333%;
	flex: 0 0 33.33333%;
	max-width: 33.33333%
}

.col-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.66667%;
	flex: 0 0 41.66667%;
	max-width: 41.66667%
}

.col-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.col-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.33333%;
	flex: 0 0 58.33333%;
	max-width: 58.33333%
}

.col-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.66667%;
	flex: 0 0 66.66667%;
	max-width: 66.66667%
}

.col-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%
}

.col-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.33333%;
	flex: 0 0 83.33333%;
	max-width: 83.33333%
}

.col-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.66667%;
	flex: 0 0 91.66667%;
	max-width: 91.66667%
}

.col-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}
/* #endregion */

/* #region MEDIA QUERYS */
.order-first {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1
}

.order-last {
	-webkit-box-ordinal-group: 14;
	-ms-flex-order: 13;
	order: 13
}

.order-0 {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0
}

.order-1 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1
}

.order-2 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2
}

.order-3 {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3
}

.order-4 {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 4;
	order: 4
}

.order-5 {
	-webkit-box-ordinal-group: 6;
	-ms-flex-order: 5;
	order: 5
}

.order-6 {
	-webkit-box-ordinal-group: 7;
	-ms-flex-order: 6;
	order: 6
}

.order-7 {
	-webkit-box-ordinal-group: 8;
	-ms-flex-order: 7;
	order: 7
}

.order-8 {
	-webkit-box-ordinal-group: 9;
	-ms-flex-order: 8;
	order: 8
}

.order-9 {
	-webkit-box-ordinal-group: 10;
	-ms-flex-order: 9;
	order: 9
}

.order-10 {
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
	order: 10
}

.order-11 {
	-webkit-box-ordinal-group: 12;
	-ms-flex-order: 11;
	order: 11
}

.order-12 {
	-webkit-box-ordinal-group: 13;
	-ms-flex-order: 12;
	order: 12
}

.offset-1 {
	margin-left: 8.33333%
}

.offset-2 {
	margin-left: 16.66667%
}

.offset-3 {
	margin-left: 25%
}

.offset-4 {
	margin-left: 33.33333%
}

.offset-5 {
	margin-left: 41.66667%
}

.offset-6 {
	margin-left: 50%
}

.offset-7 {
	margin-left: 58.33333%
}

.offset-8 {
	margin-left: 66.66667%
}

.offset-9 {
	margin-left: 75%
}

.offset-10 {
	margin-left: 83.33333%
}

.offset-11 {
	margin-left: 91.66667%
}

@media (min-width: 576px) {
	.col-sm {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}
	.col-sm-auto {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}
	.col-sm-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.33333%;
		flex: 0 0 8.33333%;
		max-width: 8.33333%
	}
	.col-sm-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.66667%;
		flex: 0 0 16.66667%;
		max-width: 16.66667%
	}
	.col-sm-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.col-sm-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%
	}
	.col-sm-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.66667%;
		flex: 0 0 41.66667%;
		max-width: 41.66667%
	}
	.col-sm-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.col-sm-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.33333%;
		flex: 0 0 58.33333%;
		max-width: 58.33333%
	}
	.col-sm-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%
	}
	.col-sm-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}
	.col-sm-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.33333%;
		flex: 0 0 83.33333%;
		max-width: 83.33333%
	}
	.col-sm-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.66667%;
		flex: 0 0 91.66667%;
		max-width: 91.66667%
	}
	.col-sm-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.order-sm-first {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1
	}
	.order-sm-last {
		-webkit-box-ordinal-group: 14;
		-ms-flex-order: 13;
		order: 13
	}
	.order-sm-0 {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0
	}
	.order-sm-1 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
	.order-sm-2 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2
	}
	.order-sm-3 {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3
	}
	.order-sm-4 {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4
	}
	.order-sm-5 {
		-webkit-box-ordinal-group: 6;
		-ms-flex-order: 5;
		order: 5
	}
	.order-sm-6 {
		-webkit-box-ordinal-group: 7;
		-ms-flex-order: 6;
		order: 6
	}
	.order-sm-7 {
		-webkit-box-ordinal-group: 8;
		-ms-flex-order: 7;
		order: 7
	}
	.order-sm-8 {
		-webkit-box-ordinal-group: 9;
		-ms-flex-order: 8;
		order: 8
	}
	.order-sm-9 {
		-webkit-box-ordinal-group: 10;
		-ms-flex-order: 9;
		order: 9
	}
	.order-sm-10 {
		-webkit-box-ordinal-group: 11;
		-ms-flex-order: 10;
		order: 10
	}
	.order-sm-11 {
		-webkit-box-ordinal-group: 12;
		-ms-flex-order: 11;
		order: 11
	}
	.order-sm-12 {
		-webkit-box-ordinal-group: 13;
		-ms-flex-order: 12;
		order: 12
	}
	.offset-sm-0 {
		margin-left: 0
	}
	.offset-sm-1 {
		margin-left: 8.33333%
	}
	.offset-sm-2 {
		margin-left: 16.66667%
	}
	.offset-sm-3 {
		margin-left: 25%
	}
	.offset-sm-4 {
		margin-left: 33.33333%
	}
	.offset-sm-5 {
		margin-left: 41.66667%
	}
	.offset-sm-6 {
		margin-left: 50%
	}
	.offset-sm-7 {
		margin-left: 58.33333%
	}
	.offset-sm-8 {
		margin-left: 66.66667%
	}
	.offset-sm-9 {
		margin-left: 75%
	}
	.offset-sm-10 {
		margin-left: 83.33333%
	}
	.offset-sm-11 {
		margin-left: 91.66667%
	}
}

@media (min-width: 768px) {
	.col-md {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}
	.col-md-auto {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}
	.col-md-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.33333%;
		flex: 0 0 8.33333%;
		max-width: 8.33333%
	}
	.col-md-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.66667%;
		flex: 0 0 16.66667%;
		max-width: 16.66667%
	}
	.col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%
	}
	.col-md-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.66667%;
		flex: 0 0 41.66667%;
		max-width: 41.66667%
	}
	.col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.col-md-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.33333%;
		flex: 0 0 58.33333%;
		max-width: 58.33333%
	}
	.col-md-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%
	}
	.col-md-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}
	.col-md-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.33333%;
		flex: 0 0 83.33333%;
		max-width: 83.33333%
	}
	.col-md-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.66667%;
		flex: 0 0 91.66667%;
		max-width: 91.66667%
	}
	.col-md-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.order-md-first {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1
	}
	.order-md-last {
		-webkit-box-ordinal-group: 14;
		-ms-flex-order: 13;
		order: 13
	}
	.order-md-0 {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0
	}
	.order-md-1 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
	.order-md-2 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2
	}
	.order-md-3 {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3
	}
	.order-md-4 {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4
	}
	.order-md-5 {
		-webkit-box-ordinal-group: 6;
		-ms-flex-order: 5;
		order: 5
	}
	.order-md-6 {
		-webkit-box-ordinal-group: 7;
		-ms-flex-order: 6;
		order: 6
	}
	.order-md-7 {
		-webkit-box-ordinal-group: 8;
		-ms-flex-order: 7;
		order: 7
	}
	.order-md-8 {
		-webkit-box-ordinal-group: 9;
		-ms-flex-order: 8;
		order: 8
	}
	.order-md-9 {
		-webkit-box-ordinal-group: 10;
		-ms-flex-order: 9;
		order: 9
	}
	.order-md-10 {
		-webkit-box-ordinal-group: 11;
		-ms-flex-order: 10;
		order: 10
	}
	.order-md-11 {
		-webkit-box-ordinal-group: 12;
		-ms-flex-order: 11;
		order: 11
	}
	.order-md-12 {
		-webkit-box-ordinal-group: 13;
		-ms-flex-order: 12;
		order: 12
	}
	.offset-md-0 {
		margin-left: 0
	}
	.offset-md-1 {
		margin-left: 8.33333%
	}
	.offset-md-2 {
		margin-left: 16.66667%
	}
	.offset-md-3 {
		margin-left: 25%
	}
	.offset-md-4 {
		margin-left: 33.33333%
	}
	.offset-md-5 {
		margin-left: 41.66667%
	}
	.offset-md-6 {
		margin-left: 50%
	}
	.offset-md-7 {
		margin-left: 58.33333%
	}
	.offset-md-8 {
		margin-left: 66.66667%
	}
	.offset-md-9 {
		margin-left: 75%
	}
	.offset-md-10 {
		margin-left: 83.33333%
	}
	.offset-md-11 {
		margin-left: 91.66667%
	}
}

@media (min-width: 992px) {
	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}
	.col-lg-auto {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}
	.col-lg-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.33333%;
		flex: 0 0 8.33333%;
		max-width: 8.33333%
	}
	.col-lg-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.66667%;
		flex: 0 0 16.66667%;
		max-width: 16.66667%
	}
	.col-lg-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.col-lg-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%
	}
	.col-lg-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.66667%;
		flex: 0 0 41.66667%;
		max-width: 41.66667%
	}
	.col-lg-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.col-lg-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.33333%;
		flex: 0 0 58.33333%;
		max-width: 58.33333%
	}
	.col-lg-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%
	}
	.col-lg-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}
	.col-lg-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.33333%;
		flex: 0 0 83.33333%;
		max-width: 83.33333%
	}
	.col-lg-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.66667%;
		flex: 0 0 91.66667%;
		max-width: 91.66667%
	}
	.col-lg-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.order-lg-first {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1
	}
	.order-lg-last {
		-webkit-box-ordinal-group: 14;
		-ms-flex-order: 13;
		order: 13
	}
	.order-lg-0 {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0
	}
	.order-lg-1 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
	.order-lg-2 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2
	}
	.order-lg-3 {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3
	}
	.order-lg-4 {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4
	}
	.order-lg-5 {
		-webkit-box-ordinal-group: 6;
		-ms-flex-order: 5;
		order: 5
	}
	.order-lg-6 {
		-webkit-box-ordinal-group: 7;
		-ms-flex-order: 6;
		order: 6
	}
	.order-lg-7 {
		-webkit-box-ordinal-group: 8;
		-ms-flex-order: 7;
		order: 7
	}
	.order-lg-8 {
		-webkit-box-ordinal-group: 9;
		-ms-flex-order: 8;
		order: 8
	}
	.order-lg-9 {
		-webkit-box-ordinal-group: 10;
		-ms-flex-order: 9;
		order: 9
	}
	.order-lg-10 {
		-webkit-box-ordinal-group: 11;
		-ms-flex-order: 10;
		order: 10
	}
	.order-lg-11 {
		-webkit-box-ordinal-group: 12;
		-ms-flex-order: 11;
		order: 11
	}
	.order-lg-12 {
		-webkit-box-ordinal-group: 13;
		-ms-flex-order: 12;
		order: 12
	}
	.offset-lg-0 {
		margin-left: 0
	}
	.offset-lg-1 {
		margin-left: 8.33333%
	}
	.offset-lg-2 {
		margin-left: 16.66667%
	}
	.offset-lg-3 {
		margin-left: 25%
	}
	.offset-lg-4 {
		margin-left: 33.33333%
	}
	.offset-lg-5 {
		margin-left: 41.66667%
	}
	.offset-lg-6 {
		margin-left: 50%
	}
	.offset-lg-7 {
		margin-left: 58.33333%
	}
	.offset-lg-8 {
		margin-left: 66.66667%
	}
	.offset-lg-9 {
		margin-left: 75%
	}
	.offset-lg-10 {
		margin-left: 83.33333%
	}
	.offset-lg-11 {
		margin-left: 91.66667%
	}
}

@media (min-width: 1200px) {
	.col-xl {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}
	.col-xl-auto {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}
	.col-xl-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.33333%;
		flex: 0 0 8.33333%;
		max-width: 8.33333%
	}
	.col-xl-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.66667%;
		flex: 0 0 16.66667%;
		max-width: 16.66667%
	}
	.col-xl-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.col-xl-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%
	}
	.col-xl-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.66667%;
		flex: 0 0 41.66667%;
		max-width: 41.66667%
	}
	.col-xl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.col-xl-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.33333%;
		flex: 0 0 58.33333%;
		max-width: 58.33333%
	}
	.col-xl-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%
	}
	.col-xl-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}
	.col-xl-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.33333%;
		flex: 0 0 83.33333%;
		max-width: 83.33333%
	}
	.col-xl-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.66667%;
		flex: 0 0 91.66667%;
		max-width: 91.66667%
	}
	.col-xl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.order-xl-first {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1
	}
	.order-xl-last {
		-webkit-box-ordinal-group: 14;
		-ms-flex-order: 13;
		order: 13
	}
	.order-xl-0 {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0
	}
	.order-xl-1 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
	.order-xl-2 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2
	}
	.order-xl-3 {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3
	}
	.order-xl-4 {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4
	}
	.order-xl-5 {
		-webkit-box-ordinal-group: 6;
		-ms-flex-order: 5;
		order: 5
	}
	.order-xl-6 {
		-webkit-box-ordinal-group: 7;
		-ms-flex-order: 6;
		order: 6
	}
	.order-xl-7 {
		-webkit-box-ordinal-group: 8;
		-ms-flex-order: 7;
		order: 7
	}
	.order-xl-8 {
		-webkit-box-ordinal-group: 9;
		-ms-flex-order: 8;
		order: 8
	}
	.order-xl-9 {
		-webkit-box-ordinal-group: 10;
		-ms-flex-order: 9;
		order: 9
	}
	.order-xl-10 {
		-webkit-box-ordinal-group: 11;
		-ms-flex-order: 10;
		order: 10
	}
	.order-xl-11 {
		-webkit-box-ordinal-group: 12;
		-ms-flex-order: 11;
		order: 11
	}
	.order-xl-12 {
		-webkit-box-ordinal-group: 13;
		-ms-flex-order: 12;
		order: 12
	}
	.offset-xl-0 {
		margin-left: 0
	}
	.offset-xl-1 {
		margin-left: 8.33333%
	}
	.offset-xl-2 {
		margin-left: 16.66667%
	}
	.offset-xl-3 {
		margin-left: 25%
	}
	.offset-xl-4 {
		margin-left: 33.33333%
	}
	.offset-xl-5 {
		margin-left: 41.66667%
	}
	.offset-xl-6 {
		margin-left: 50%
	}
	.offset-xl-7 {
		margin-left: 58.33333%
	}
	.offset-xl-8 {
		margin-left: 66.66667%
	}
	.offset-xl-9 {
		margin-left: 75%
	}
	.offset-xl-10 {
		margin-left: 83.33333%
	}
	.offset-xl-11 {
		margin-left: 91.66667%
	}
}

/* #endregion */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: Verdana; /*inherit;*/
	font-size: inherit;
	line-height: inherit
}


.align-center {
	text-align: center
}

.progress {
	vertical-align: baseline
}

/* REGION DE COLORES */
.bg-color-white{
    background-color:#fff
}

.primary {
	color: #2980b9; /*#30b033*/
}

.orange {
	color: #f97f51; /*#30b033*/
}

.blue {
	color: #001884;
}

.rose {
	color: #E50946;
}
.pointer {
	cursor: pointer
}

html,
body {
	line-height: 1.5;
	font-size: 14px;
	font-family: Verdana; 
	font-weight: 200;
	color: #4d4d4f;
	width: 100%;
	height: 100%
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none !important
}

/* #region TAMANIOS */
.verysmall {
	font-size: 10px;
}


.small {
	font-size: 12px;
}

.median {
	font-size: 14px;
}

.semibig {
	font-size: 16px;
}

.big {
	font-size: 24px;
}

.superbig {
	font-size: 2.5rem
}

.extrabig {
	font-size: 3rem
}
/* #endregion */

/* #region FUENTES */
.f1 {
	font-size: .875rem
}

.f2 {
	font-size: 1rem
}

.f3 {
	font-size: 1.25rem
}

.f4 {
	font-size: 1.75rem
}

.f5 {
	font-size: 2rem
}

.f6 {
	font-size: 2.5rem
}
/* #endregion */

/* #region P */
.p-0 {
	padding: 0px !important
}

.p-0-top {
	padding-top: 0px !important
}

.p-0-left {
	padding-left: 0px !important
}

.p-0-right {
	padding-right: 0px !important
}

.p-0-bottom {
	padding-bottom: 0px !important
}

.p-0-h {
	padding: 0px 0px !important
}

.p-0-w {
	padding: 0px 0px !important
}

@media (max-width: 767.98px) {
	.p-0 {
		padding: 0px !important
	}
	.p-0-top {
		padding-top: 0px !important
	}
	.p-0-left {
		padding-left: 0px !important
	}
	.p-0-right {
		padding-right: 0px !important
	}
	.p-0-bottom {
		padding-bottom: 0px !important
	}
	.p-0-h {
		padding: 0px 0px !important
	}
	.p-0-w {
		padding: 0px 0px !important
	}
}

.p-5 {
	padding: .36rem !important
}

.p-5-top {
	padding-top: .36rem !important
}

.p-5-left {
	padding-left: .36rem !important
}

.p-5-right {
	padding-right: .36rem !important
}

.p-5-bottom {
	padding-bottom: .36rem !important
}

.p-5-h {
	padding: .36rem 0px !important
}

.p-5-w {
	padding: 0px .36rem !important
}

@media (max-width: 767.98px) {
	.p-5 {
		padding: .36rem !important
	}
	.p-5-top {
		padding-top: .36rem !important
	}
	.p-5-left {
		padding-left: .36rem !important
	}
	.p-5-right {
		padding-right: .36rem !important
	}
	.p-5-bottom {
		padding-bottom: .36rem !important
	}
	.p-5-h {
		padding: .36rem 0px !important
	}
	.p-5-w {
		padding: 0px .36rem !important
	}
}

.p-10 {
	padding: .7rem !important
}

.p-10-top {
	padding-top: .7rem !important
}

.p-10-left {
	padding-left: .7rem !important
}

.p-10-right {
	padding-right: .7rem !important
}

.p-10-bottom {
	padding-bottom: .7rem !important
}

.p-10-h {
	padding: .7rem 0px !important
}

.p-10-w {
	padding: 0px .7rem !important
}

@media (max-width: 767.98px) {
	.p-10 {
		padding: .57rem !important
	}
	.p-10-top {
		padding-top: .57rem !important
	}
	.p-10-left {
		padding-left: .57rem !important
	}
	.p-10-right {
		padding-right: .57rem !important
	}
	.p-10-bottom {
		padding-bottom: .57rem !important
	}
	.p-10-h {
		padding: .57rem 0px !important
	}
	.p-10-w {
		padding: 0px .57rem !important
	}
}

.p-15 {
	padding: 1.07rem !important
}

.p-15-top {
	padding-top: 1.07rem !important
}

.p-15-left {
	padding-left: 1.07rem !important
}

.p-15-right {
	padding-right: 1.07rem !important
}

.p-15-bottom {
	padding-bottom: 1.07rem !important
}

.p-15-h {
	padding: 1.07rem 0px !important
}

.p-15-w {
	padding: 0px 1.07rem !important
}

@media (max-width: 767.98px) {
	.p-15 {
		padding: .7rem !important
	}
	.p-15-top {
		padding-top: .7rem !important
	}
	.p-15-left {
		padding-left: .7rem !important
	}
	.p-15-right {
		padding-right: .7rem !important
	}
	.p-15-bottom {
		padding-bottom: .7rem !important
	}
	.p-15-h {
		padding: .7rem 0px !important
	}
	.p-15-w {
		padding: 0px .7rem !important
	}
}

.p-20 {
	padding: 1.42rem !important
}

.p-20-top {
	padding-top: 1.42rem !important
}

.p-20-left {
	padding-left: 1.42rem !important
}

.p-20-right {
	padding-right: 1.42rem !important
}

.p-20-bottom {
	padding-bottom: 1.42rem !important
}

.p-20-h {
	padding: 1.42rem 0px !important
}

.p-20-w {
	padding: 0px 1.42rem !important
}

@media (max-width: 767.98px) {
	.p-20 {
		padding: 1.07rem !important
	}
	.p-20-top {
		padding-top: 1.07rem !important
	}
	.p-20-left {
		padding-left: 1.07rem !important
	}
	.p-20-right {
		padding-right: 1.07rem !important
	}
	.p-20-bottom {
		padding-bottom: 1.07rem !important
	}
	.p-20-h {
		padding: 1.07rem 0px !important
	}
	.p-20-w {
		padding: 0px 1.07rem !important
	}
}

.p-30 {
	padding: 2.14rem !important
}

.p-30-top {
	padding-top: 2.14rem !important
}

.p-30-left {
	padding-left: 2.14rem !important
}

.p-30-right {
	padding-right: 2.14rem !important
}

.p-30-bottom {
	padding-bottom: 2.14rem !important
}

.p-30-h {
	padding: 2.14rem 0px !important
}

.p-30-w {
	padding: 0px 2.14rem !important
}

@media (max-width: 767.98px) {
	.p-30 {
		padding: 1.42rem !important
	}
	.p-30-top {
		padding-top: 1.42rem !important
	}
	.p-30-left {
		padding-left: 1.42rem !important
	}
	.p-30-right {
		padding-right: 1.42rem !important
	}
	.p-30-bottom {
		padding-bottom: 1.42rem !important
	}
	.p-30-h {
		padding: 1.42rem 0px !important
	}
	.p-30-w {
		padding: 0px 1.42rem !important
	}
}

.p-40 {
	padding: 2.85rem !important
}

.p-40-top {
	padding-top: 2.85rem !important
}

.p-40-left {
	padding-left: 2.85rem !important
}

.p-40-right {
	padding-right: 2.85rem !important
}

.p-40-bottom {
	padding-bottom: 2.85rem !important
}

.p-40-h {
	padding: 2.85rem 0px !important
}

.p-40-w {
	padding: 0px 2.85rem !important
}

@media (max-width: 767.98px) {
	.p-40 {
		padding: 2.14rem !important
	}
	.p-40-top {
		padding-top: 2.14rem !important
	}
	.p-40-left {
		padding-left: 2.14rem !important
	}
	.p-40-right {
		padding-right: 2.14rem !important
	}
	.p-40-bottom {
		padding-bottom: 2.14rem !important
	}
	.p-40-h {
		padding: 2.14rem 0px !important
	}
	.p-40-w {
		padding: 0px 2.14rem !important
	}
}
/* #endregion */

/* #region M */
.m-0 {
	margin: 0px !important
}

.m-0-top {
	margin-top: 0px !important
}

.m-0-left {
	margin-left: 0px !important
}

.m-0-right {
	margin-right: 0px !important
}

.m-0-bottom {
	margin-bottom: 0px !important
}

.m-0-h {
	margin: 0px 0px !important
}

.m-0-w {
	margin: 0px 0px !important
}

@media (max-width: 767.98px) {
	.m-0 {
		margin: 0px !important
	}
	.m-0-top {
		margin-top: 0px !important
	}
	.m-0-left {
		margin-left: 0px !important
	}
	.m-0-right {
		margin-right: 0px !important
	}
	.m-0-bottom {
		margin-bottom: 0px !important
	}
	.m-0-h {
		margin: 0px 0px !important
	}
	.m-0-w {
		margin: 0px 0px !important
	}
}

.m-5 {
	margin: .36rem !important
}

.m-5-top {
	margin-top: .36rem !important
}

.m-5-left {
	margin-left: .36rem !important
}

.m-5-right {
	margin-right: .36rem !important
}

.m-5-bottom {
	margin-bottom: .36rem !important
}

.m-5-h {
	margin: .36rem 0px !important
}

.m-5-w {
	margin: 0px .36rem !important
}

@media (max-width: 767.98px) {
	.m-5 {
		margin: .36rem !important
	}
	.m-5-top {
		margin-top: .36rem !important
	}
	.m-5-left {
		margin-left: .36rem !important
	}
	.m-5-right {
		margin-right: .36rem !important
	}
	.m-5-bottom {
		margin-bottom: .36rem !important
	}
	.m-5-h {
		margin: .36rem 0px !important
	}
	.m-5-w {
		margin: 0px .36rem !important
	}
}

.m-10 {
	margin: .7rem !important
}

.m-10-top {
	margin-top: .7rem !important
}

.m-10-left {
	margin-left: .7rem !important
}

.m-10-right {
	margin-right: .7rem !important
}

.m-10-bottom {
	margin-bottom: .7rem !important
}

.m-10-h {
	margin: .7rem 0px !important
}

.m-10-w {
	margin: 0px .7rem !important
}

@media (max-width: 767.98px) {
	.m-10 {
		margin: .57rem !important
	}
	.m-10-top {
		margin-top: .57rem !important
	}
	.m-10-left {
		margin-left: .57rem !important
	}
	.m-10-right {
		margin-right: .57rem !important
	}
	.m-10-bottom {
		margin-bottom: .57rem !important
	}
	.m-10-h {
		margin: .57rem 0px !important
	}
	.m-10-w {
		margin: 0px .57rem !important
	}
}

.m-15 {
	margin: 1.07rem !important
}

.m-15-top {
	margin-top: 1.07rem !important
}

.m-15-left {
	margin-left: 1.07rem !important
}

.m-15-right {
	margin-right: 1.07rem !important
}

.m-15-bottom {
	margin-bottom: 1.07rem !important
}

.m-15-h {
	margin: 1.07rem 0px !important
}

.m-15-w {
	margin: 0px 1.07rem !important
}

@media (max-width: 767.98px) {
	.m-15 {
		margin: .7rem !important
	}
	.m-15-top {
		margin-top: .7rem !important
	}
	.m-15-left {
		margin-left: .7rem !important
	}
	.m-15-right {
		margin-right: .7rem !important
	}
	.m-15-bottom {
		margin-bottom: .7rem !important
	}
	.m-15-h {
		margin: .7rem 0px !important
	}
	.m-15-w {
		margin: 0px .7rem !important
	}
}

.m-20 {
	margin: 1.42rem !important
}

.m-20-top {
	margin-top: 1.42rem !important
}

.m-20-left {
	margin-left: 1.42rem !important
}

.m-20-right {
	margin-right: 1.42rem !important
}

.m-20-bottom {
	margin-bottom: 1.42rem !important
}

.m-20-h {
	margin: 1.42rem 0px !important
}

.m-20-w {
	margin: 0px 1.42rem !important
}

@media (max-width: 767.98px) {
	.m-20 {
		margin: 1.07rem !important
	}
	.m-20-top {
		margin-top: 1.07rem !important
	}
	.m-20-left {
		margin-left: 1.07rem !important
	}
	.m-20-right {
		margin-right: 1.07rem !important
	}
	.m-20-bottom {
		margin-bottom: 1.07rem !important
	}
	.m-20-h {
		margin: 1.07rem 0px !important
	}
	.m-20-w {
		margin: 0px 1.07rem !important
	}
}

.m-30 {
	margin: 2.14rem !important
}

.m-30-top {
	margin-top: 2.14rem !important
}

.m-30-left {
	margin-left: 2.14rem !important
}

.m-30-right {
	margin-right: 2.14rem !important
}

.m-30-bottom {
	margin-bottom: 2.14rem !important
}

.m-30-h {
	margin: 2.14rem 0px !important
}

.m-30-w {
	margin: 0px 2.14rem !important
}

@media (max-width: 767.98px) {
	.m-30 {
		margin: 1.42rem !important
	}
	.m-30-top {
		margin-top: 1.42rem !important
	}
	.m-30-left {
		margin-left: 1.42rem !important
	}
	.m-30-right {
		margin-right: 1.42rem !important
	}
	.m-30-bottom {
		margin-bottom: 1.42rem !important
	}
	.m-30-h {
		margin: 1.42rem 0px !important
	}
	.m-30-w {
		margin: 0px 1.42rem !important
	}
}

.m-40 {
	margin: 2.85rem !important
}

.m-40-top {
	margin-top: 2.85rem !important
}

.m-40-left {
	margin-left: 2.85rem !important
}

.m-40-right {
	margin-right: 2.85rem !important
}

.m-40-bottom {
	margin-bottom: 2.85rem !important
}

.m-40-h {
	margin: 2.85rem 0px !important
}

.m-40-w {
	margin: 0px 2.85rem !important
}

@media (max-width: 767.98px) {
	.m-40 {
		margin: 2.14rem !important
	}
	.m-40-top {
		margin-top: 2.14rem !important
	}
	.m-40-left {
		margin-left: 2.14rem !important
	}
	.m-40-right {
		margin-right: 2.14rem !important
	}
	.m-40-bottom {
		margin-bottom: 2.14rem !important
	}
	.m-40-h {
		margin: 2.14rem 0px !important
	}
	.m-40-w {
		margin: 0px 2.14rem !important
	}
}

/* #endregion */

/* #region BR */
.br-0 {
	border-radius: 0
}

.br-0-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.br-0-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}

.br-0-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.br-0-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.br-0-top-left {
	border-top-left-radius: 0
}

.br-0-top-right {
	border-top-right-radius: 0
}

.br-0-bottom-left {
	border-bottom-left-radius: 0
}

.br-0-bottom-right {
	border-bottom-right-radius: 0
}

.br-1 {
	border-radius: .125rem
}

.br-1-top {
	border-top-left-radius: .125rem;
	border-top-right-radius: .125rem
}

.br-1-bottom {
	border-bottom-left-radius: .125rem;
	border-bottom-right-radius: .125rem
}

.br-1-left {
	border-top-left-radius: .125rem;
	border-bottom-left-radius: .125rem
}

.br-1-right {
	border-top-right-radius: .125rem;
	border-bottom-right-radius: .125rem
}

.br-1-top-left {
	border-top-left-radius: .125rem
}

.br-1-top-right {
	border-top-right-radius: .125rem
}

.br-1-bottom-left {
	border-bottom-left-radius: .125rem
}

.br-1-bottom-right {
	border-bottom-right-radius: .125rem
}

.br-2 {
	border-radius: .25rem
}

.br-2-top {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem
}

.br-2-bottom {
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem
}

.br-2-left {
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.br-2-right {
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem
}

.br-2-top-left {
	border-top-left-radius: .25rem
}

.br-2-top-right {
	border-top-right-radius: .25rem
}

.br-2-bottom-left {
	border-bottom-left-radius: .25rem
}

.br-2-bottom-right {
	border-bottom-right-radius: .25rem
}

.br-3 {
	border-radius: .5rem
}

.br-3-top {
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem
}

.br-3-bottom {
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem
}

.br-3-left {
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem
}

.br-3-right {
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem
}

.br-3-top-left {
	border-top-left-radius: .5rem
}

.br-3-top-right {
	border-top-right-radius: .5rem
}

.br-3-bottom-left {
	border-bottom-left-radius: .5rem
}

.br-3-bottom-right {
	border-bottom-right-radius: .5rem
}

.br-4 {
	border-radius: 1rem
}

.br-4-top {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem
}

.br-4-bottom {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem
}

.br-4-left {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem
}

.br-4-right {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem
}

.br-4-top-left {
	border-top-left-radius: 1rem
}

.br-4-top-right {
	border-top-right-radius: 1rem
}

.br-4-bottom-left {
	border-bottom-left-radius: 1rem
}

.br-4-bottom-right {
	border-bottom-right-radius: 1rem
}

.br-100 {
	border-radius: 100%
}

.br-100-top {
	border-top-left-radius: 100%;
	border-top-right-radius: 100%
}

.br-100-bottom {
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%
}

.br-100-left {
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%
}

.br-100-right {
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%
}

.br-100-top-left {
	border-top-left-radius: 100%
}

.br-100-top-right {
	border-top-right-radius: 100%
}

.br-100-bottom-left {
	border-bottom-left-radius: 100%
}

.br-100-bottom-right {
	border-bottom-right-radius: 100%
}

.br-pill {
	border-radius: 0.5rem
}

.br-pill-top {
	border-top-left-radius: 9999px;
	border-top-right-radius: 9999px
}

.br-pill-bottom {
	border-bottom-left-radius: 9999px;
	border-bottom-right-radius: 9999px
}

.br-pill-left {
	border-top-left-radius: 9999px;
	border-bottom-left-radius: 9999px
}

.br-pill-right {
	border-top-right-radius: 9999px;
	border-bottom-right-radius: 9999px
}

.br-pill-top-left {
	border-top-left-radius: 9999px
}

.br-pill-top-right {
	border-top-right-radius: 9999px
}

.br-pill-bottom-left {
	border-bottom-left-radius: 9999px
}

.br-pill-bottom-right {
	border-bottom-right-radius: 9999px
}
/* #endregion */

/* #region TITLE*/
abbr[title],
abbr[data-original-title] {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0
}

/* #endregion */

/* #region WRAP */
.wrap-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.no-wrap {
	white-space: nowrap
}
/* #endregion */


.bold {
	font-weight: 600
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    color: #4c4c4c;
    font-weight: 400;
    font-family: Verdana; /*"SF";*/
    letter-spacing: -0.05em;
}

.sf {
	font-family: Verdana; /*"SF";*/
}

.sf-text {
	font-family: Verdana; /*"SF Text";*/
}

.error-message {
	color: #C01A1A; /*#e67198;*/
	text-align: left
}

.rcc-control {
	margin-top: 10px;
	margin-bottom: 10px
}

.banner img {
	max-width: 100%;
	border-radius: 8px;
	margin-top: 15px
}

.rcc-header {
	border-bottom: 1px solid #dee2e6
}

.rcc-header .logo {
	height: 80px
}

.rcc-header .logo svg {
	height: 100%
}

@media (max-width: 767.98px) {
	.rcc-header .logo {
		padding: 10px 0px;
		height: 50px
	}
}

.fa-check:before {
	content: "xx"
}

/********************* CSS RESULTADO ****************/
/*
table {
	border: 1px solid #fff;
	border-collapse: collapse;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	margin-top:20px;
	align-self: center;
}

table caption {
	font-size: 1.5em;
	margin: .25em 0 .75em;
}

table tr {
	background: #fff;
	border: 1px solid #ddd;
	padding: .35em;
}

table th, table td {
	padding: .625em;
	text-align: center;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
	background-color: #eeeeee;
}

table td img { text-align: center; }
@media (max-width: 992px) {

	table { border: 0; }

	table caption { font-size: 1.3em; }

	table thead { display: none; }

	table tr {
	border-bottom: 3px solid #ddd;
	display: block;
	margin-bottom: .625em;
	}

	table td {
	border-bottom: 1px solid #ddd;
	display: block;
	font-size: .8em;
	text-align: right;
	}

	table td:before {
	content: attr(data-label);
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	}

	table td:last-child {
		border-bottom: 0;
	}
}
*/

.panel-search {
    background-color: #fcfcfc;
    padding: 0.01em 16px;
	margin: 20px 0;
	/*border-radius: 10px !important;*/
	box-shadow: lightgrey 0px 0px 3px 0px!important;
	font-family: Verdana; 
}

.panel-content {
    padding: 10px;
}

.panel-content-slider {
	padding: 10px;
	max-width: 216px;
	margin: 0 auto;
}


.panel-internal {
    background-color: #EEE;
    padding: 0.01em 10px;
	margin: 5px 0;
	border-radius: 0.5rem !important;
	box-shadow: lightgrey 0px 0px 3px 0px!important;
	font-family: Verdana; 
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Verdana; 
  /* color: #ddd; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #2980b9;
  position: absolute;
  left: 0;
  top: 0;
  /* opacity: .1;*/
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 8px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 36px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 300px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 30px;
    content: "";
    left: 40%;
    position: absolute;
    z-index: 99;
}

::placeholder {
	color: #aaa;
	opacity: 1; /* Firefox */
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(77, 77, 79, 0.5);
    display: flex;
    justify-content: center;
	align-items: center;
}

.loader > img {
    width: 200px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
